n8n/workflows/phase4/postiz-draft-publisher.v1.json
{
  "id": "phase4PostizDraftV1",
  "name": "Tanaghom — Postiz Draft Publisher v1",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "id": "postiz-manual",
      "name": "Manual Controlled Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        180
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "id": "postiz-schedule",
      "name": "Polling Disabled Pending Approval",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        360
      ],
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM tanaghom.claim_postiz_draft_job();",
        "options": {}
      },
      "id": "postiz-claim",
      "name": "Claim Publisher Job",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        240,
        270
      ],
      "credentials": {
        "postgres": {
          "id": "62000000-0000-4000-8000-000000000001",
          "name": "Tanaghom Worker PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM tanaghom.prepare_postiz_draft($1::uuid);",
        "options": {
          "queryReplacement": "={{ [$json.job_id] }}"
        }
      },
      "id": "postiz-prepare",
      "name": "Prepare Postiz Draft",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        480,
        270
      ],
      "credentials": {
        "postgres": {
          "id": "62000000-0000-4000-8000-000000000001",
          "name": "Tanaghom Worker PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.TANAGHOM_INTEGRATION_GATEWAY_URL }}/api/internal/integrations/postiz/draft",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Idempotency-Key",
              "value": "={{ $json.idempotency_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ job_id: $json.job_id, request_body: $json.request_body }) }}",
        "options": {
          "timeout": 60000,
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "postiz-request",
      "name": "Create Postiz Draft",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        270
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "62000000-0000-4000-8000-000000000004",
          "name": "Tanaghom Integration Gateway"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const prepared = $('Prepare Postiz Draft').first().json;\nconst response = $json;\nif (response?.error) {\n  return [{ json: { ...prepared, ok: false, error_code: 'postiz_network_error', error_message: String(response.error.message ?? response.error).slice(0, 1000), http_status: 0, outcome_uncertain: true } }];\n}\nconst statusCode = Number(response.statusCode ?? response.status ?? 200);\nconst body = response.body ?? response;\nif (statusCode < 200 || statusCode >= 300) {\n  return [{ json: { ...prepared, ok: false, error_code: statusCode === 429 ? 'postiz_rate_limited' : 'postiz_http_error', error_message: String(body?.message ?? body?.error ?? statusCode).slice(0, 1000), http_status: statusCode, outcome_uncertain: statusCode >= 500 } }];\n}\nconst result = Array.isArray(body) ? body[0] : body;\nconst postId = result?.postId ?? result?.id;\nif (typeof postId !== 'string' || !postId.trim()) {\n  return [{ json: { ...prepared, ok: false, error_code: 'postiz_invalid_response', error_message: 'Postiz returned success without a post ID', http_status: statusCode, outcome_uncertain: true } }];\n}\nreturn [{ json: { ...prepared, ok: true, provider_post_id: postId.trim(), response_summary: { postId: postId.trim(), integration: String(result?.integration ?? '') } } }];"
      },
      "id": "postiz-parse",
      "name": "Validate Draft Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        270
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "postiz-ok",
              "leftValue": "={{ $json.ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "postiz-valid",
      "name": "Draft Created?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1200,
        270
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT tanaghom.complete_postiz_draft($1::uuid, $2::text, $3::jsonb) AS post_id;",
        "options": {
          "queryReplacement": "={{ [$json.job_id, $json.provider_post_id, JSON.stringify($json.response_summary)] }}"
        }
      },
      "id": "postiz-complete",
      "name": "Record Postiz Draft",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1440,
        180
      ],
      "credentials": {
        "postgres": {
          "id": "62000000-0000-4000-8000-000000000001",
          "name": "Tanaghom Worker PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT tanaghom.record_postiz_draft_failure($1::uuid, $2::text, $3::text, $4::integer, $5::boolean) AS next_status;",
        "options": {
          "queryReplacement": "={{ [$json.job_id, $json.error_code, $json.error_message, $json.http_status, $json.outcome_uncertain] }}"
        }
      },
      "id": "postiz-failure",
      "name": "Record Safe Failure",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1440,
        360
      ],
      "credentials": {
        "postgres": {
          "id": "62000000-0000-4000-8000-000000000001",
          "name": "Tanaghom Worker PostgreSQL"
        }
      }
    }
  ],
  "connections": {
    "Manual Controlled Trigger": {
      "main": [
        [
          {
            "node": "Claim Publisher Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Polling Disabled Pending Approval": {
      "main": [
        [
          {
            "node": "Claim Publisher Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claim Publisher Job": {
      "main": [
        [
          {
            "node": "Prepare Postiz Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Postiz Draft": {
      "main": [
        [
          {
            "node": "Create Postiz Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Postiz Draft": {
      "main": [
        [
          {
            "node": "Validate Draft Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Draft Response": {
      "main": [
        [
          {
            "node": "Draft Created?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Draft Created?": {
      "main": [
        [
          {
            "node": "Record Postiz Draft",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Record Safe Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "none",
    "executionTimeout": 120
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [],
  "pinData": {},
  "versionId": "61000000-0000-4000-8000-000000000004"
}
