n8n/workflows/phase3/campaign-strategist.v1.json
{
  "name": "Tanaghom — Campaign Strategist v1",
  "nodes": [
    {
      "parameters": {},
      "id": "strategist-manual",
      "name": "Manual Test Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        180
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "id": "strategist-schedule",
      "name": "Poll Every Minute",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        360
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM tanaghom.claim_agent_job('campaign_strategist', ARRAY['campaign.strategy.generate']);",
        "options": {}
      },
      "id": "strategist-claim",
      "name": "Claim Job",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        240,
        270
      ],
      "credentials": {
        "postgres": {
          "id": "62000000-0000-4000-8000-000000000001",
          "name": "Tanaghom Worker PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const claimed = $json;\nif (!claimed.job_id || !claimed.input) throw new Error('Claimed job payload is missing');\nreturn [{ json: { ...claimed, request: { model: 'gemma-4', temperature: 0.2, response_format: { type: 'json_object' }, messages: [ { role: 'system', content: \"# Campaign Strategist — v1\\r\\n\\r\\nYou are Tanaghom's Campaign Strategist. Prepare strategy only. Never publish,\\r\\ncontact leads, spend budget, invent facts, or claim an external action occurred.\\r\\n\\r\\nReturn JSON that validates against `strategist-output.v1.schema.json`. Include\\r\\n`contract_version: \\\"phase3.strategist-output.v1\\\"`. If product type, raw offer\\r\\nbrief, target geography, or an age range/clear audience description is absent,\\r\\nreturn `blocked_missing_info` and list exact missing field paths. Do not fill\\r\\nmissing critical inputs with defaults.\\r\\n\\r\\nFor a valid brief, ground every recommendation in the supplied campaign. Return\\r\\n3–5 key messages, 4–8 content pillars, one or more allowed lowercase channels,\\r\\nand a channel-keyed cadence. Strategy is advisory until persisted by Tanaghom's\\r\\ncontrolled database function.\" }, { role: 'user', content: JSON.stringify(claimed.input) } ] } } }];"
      },
      "id": "strategist-request",
      "name": "Build Gemma Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        270
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.thesmartlabs.net/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.request) }}",
        "options": {
          "timeout": 180000,
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "strategist-gemma",
      "name": "Call Gemma",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        270
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "62000000-0000-4000-8000-000000000002",
          "name": "Tanaghom Gemma API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const claimed = $('Claim Job').first().json;\nconst response = $json;\nconst statusCode = Number(response.statusCode ?? response.status ?? 200);\nconst body = response.body ?? response;\nif (statusCode >= 400) return [{ json: { ...claimed, ok: false, error_code: statusCode === 429 ? 'gemma_rate_limited' : 'gemma_http_error', error_message: String(body?.error?.message ?? body?.message ?? statusCode).slice(0, 1000) } }];\nconst raw = body?.choices?.[0]?.message?.content ?? body?.message?.content;\nif (typeof raw !== 'string' || !raw.trim()) return [{ json: { ...claimed, ok: false, error_code: 'gemma_empty_response', error_message: 'Gemma returned no message content' } }];\nlet data;\nlet text = raw.trim();\nif (text.charCodeAt(0) === 96) text = text.replace(/^.{3}(?:json)?\\s*/i, '').replace(/\\s*.{3}$/, '');\ntry { data = JSON.parse(text); }\ncatch (error) { return [{ json: { ...claimed, ok: false, error_code: 'gemma_invalid_json', error_message: String(error.message).slice(0, 1000) } }]; }\nif (data?.contract_version !== 'phase3.strategist-output.v1') return [{ json: { ...claimed, ok: false, error_code: 'gemma_contract_mismatch', error_message: 'Unexpected output contract version' } }];\nreturn [{ json: { ...claimed, ok: true, output: data } }];"
      },
      "id": "strategist-parse",
      "name": "Parse and Check Contract",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        270
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "strategist-ok",
              "leftValue": "={{ $json.ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "strategist-valid",
      "name": "Contract Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1200,
        270
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT tanaghom.persist_strategy_result($1::uuid, $2::jsonb, $3::text, $4::text) AS result;",
        "options": {
          "queryReplacement": "={{ [$json.job_id, JSON.stringify($json.output), 'gemma-4', 'campaign-strategist/v1'] }}"
        }
      },
      "id": "strategist-persist",
      "name": "Persist Valid Result",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1440,
        180
      ],
      "credentials": {
        "postgres": {
          "id": "62000000-0000-4000-8000-000000000001",
          "name": "Tanaghom Worker PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT tanaghom.record_agent_job_failure($1::uuid, $2::text, $3::text, 60) AS next_status;",
        "options": {
          "queryReplacement": "={{ [$json.job_id, $json.error_code, $json.error_message] }}"
        }
      },
      "id": "strategist-failure",
      "name": "Record Failure",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1440,
        360
      ],
      "credentials": {
        "postgres": {
          "id": "62000000-0000-4000-8000-000000000001",
          "name": "Tanaghom Worker PostgreSQL"
        }
      }
    }
  ],
  "connections": {
    "Manual Test Trigger": {
      "main": [
        [
          {
            "node": "Claim Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Poll Every Minute": {
      "main": [
        [
          {
            "node": "Claim Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claim Job": {
      "main": [
        [
          {
            "node": "Build Gemma Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Gemma Request": {
      "main": [
        [
          {
            "node": "Call Gemma",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Gemma": {
      "main": [
        [
          {
            "node": "Parse and Check Contract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse and Check Contract": {
      "main": [
        [
          {
            "node": "Contract Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contract Valid?": {
      "main": [
        [
          {
            "node": "Persist Valid Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Record Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "executionTimeout": 300
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [],
  "pinData": {},
  "versionId": "61000000-0000-4000-8000-000000000001"
}
