n8n/workflows/phase3/campaign-strategist.v1.json
{
  "id": "phase3StrategistV1",
  "name": "Tanaghom — Campaign Strategist v1",
  "nodes": [
    {
      "parameters": {},
      "id": "strategist-manual",
      "name": "Manual Test Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        180
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "id": "strategist-schedule",
      "name": "Poll Every Minute",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        360
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM tanaghom.claim_agent_job('campaign_strategist', ARRAY['campaign.strategy.generate']);",
        "options": {}
      },
      "id": "strategist-claim",
      "name": "Claim Job",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        240,
        270
      ],
      "credentials": {
        "postgres": {
          "id": "62000000-0000-4000-8000-000000000001",
          "name": "Tanaghom Worker PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const claimed = $json;\nif (!claimed.job_id || !claimed.input) throw new Error('Claimed job payload is missing');\nreturn [{ json: { ...claimed, request: { model: 'gemma4-26b-a4b-canary', temperature: 0, response_format: {\"type\":\"json_schema\",\"json_schema\":{\"name\":\"tanaghom_strategist_output_v1\",\"strict\":true,\"schema\":{\"oneOf\":[{\"type\":\"object\",\"additionalProperties\":false,\"required\":[\"contract_version\",\"status\",\"positioning\",\"key_messages\",\"channels\",\"posting_cadence\",\"content_pillars\"],\"properties\":{\"contract_version\":{\"const\":\"phase3.strategist-output.v1\"},\"status\":{\"const\":\"ok\"},\"positioning\":{\"type\":\"string\",\"minLength\":1,\"maxLength\":2000},\"key_messages\":{\"type\":\"array\",\"minItems\":3,\"maxItems\":5,\"items\":{\"type\":\"string\",\"minLength\":1,\"maxLength\":500}},\"channels\":{\"type\":\"array\",\"minItems\":1,\"items\":{\"enum\":[\"instagram\",\"tiktok\",\"facebook\",\"linkedin\",\"youtube\",\"email\",\"whatsapp_status\"]}},\"posting_cadence\":{\"type\":\"object\",\"additionalProperties\":false,\"properties\":{\"instagram\":{\"type\":\"object\",\"additionalProperties\":false,\"required\":[\"posts_per_week\"],\"properties\":{\"posts_per_week\":{\"type\":\"integer\",\"minimum\":1,\"maximum\":14}}},\"tiktok\":{\"type\":\"object\",\"additionalProperties\":false,\"required\":[\"posts_per_week\"],\"properties\":{\"posts_per_week\":{\"type\":\"integer\",\"minimum\":1,\"maximum\":14}}},\"facebook\":{\"type\":\"object\",\"additionalProperties\":false,\"required\":[\"posts_per_week\"],\"properties\":{\"posts_per_week\":{\"type\":\"integer\",\"minimum\":1,\"maximum\":14}}},\"linkedin\":{\"type\":\"object\",\"additionalProperties\":false,\"required\":[\"posts_per_week\"],\"properties\":{\"posts_per_week\":{\"type\":\"integer\",\"minimum\":1,\"maximum\":14}}},\"youtube\":{\"type\":\"object\",\"additionalProperties\":false,\"required\":[\"posts_per_week\"],\"properties\":{\"posts_per_week\":{\"type\":\"integer\",\"minimum\":1,\"maximum\":14}}},\"email\":{\"type\":\"object\",\"additionalProperties\":false,\"required\":[\"posts_per_week\"],\"properties\":{\"posts_per_week\":{\"type\":\"integer\",\"minimum\":1,\"maximum\":14}}},\"whatsapp_status\":{\"type\":\"object\",\"additionalProperties\":false,\"required\":[\"posts_per_week\"],\"properties\":{\"posts_per_week\":{\"type\":\"integer\",\"minimum\":1,\"maximum\":14}}}}},\"content_pillars\":{\"type\":\"array\",\"minItems\":4,\"maxItems\":8,\"items\":{\"type\":\"object\",\"additionalProperties\":false,\"required\":[\"name\",\"description\",\"example_angles\"],\"properties\":{\"name\":{\"type\":\"string\",\"minLength\":1,\"maxLength\":160},\"description\":{\"type\":\"string\",\"minLength\":1,\"maxLength\":1000},\"example_angles\":{\"type\":\"array\",\"minItems\":1,\"maxItems\":8,\"items\":{\"type\":\"string\",\"minLength\":1,\"maxLength\":500}}}}}}},{\"type\":\"object\",\"additionalProperties\":false,\"required\":[\"contract_version\",\"status\",\"missing_fields\",\"message\"],\"properties\":{\"contract_version\":{\"const\":\"phase3.strategist-output.v1\"},\"status\":{\"const\":\"blocked_missing_info\"},\"missing_fields\":{\"type\":\"array\",\"minItems\":1,\"items\":{\"type\":\"string\",\"pattern\":\"^[a-z][a-z0-9_.]*$\"}},\"message\":{\"type\":\"string\",\"minLength\":1,\"maxLength\":2000}}}]}}}, messages: [ { role: 'system', content: \"# Campaign Strategist — v1\\n\\nYou are Tanaghom's Campaign Strategist. Prepare strategy only. Never publish,\\ncontact leads, spend budget, invent facts, or claim an external action occurred.\\n\\nReturn JSON that validates against `strategist-output.v1.schema.json`. Include\\n`contract_version: \\\"phase3.strategist-output.v1\\\"`. If product type, raw offer\\nbrief, target geography, or an age range/clear audience description is absent,\\nreturn `blocked_missing_info` and list exact missing field paths. Do not fill\\nmissing critical inputs with defaults.\\n\\nFor a valid brief, ground every recommendation in the supplied campaign. Return\\n3–5 key messages, 4–8 content pillars, one or more allowed lowercase channels,\\nand a channel-keyed cadence. Every cadence value must contain exactly\\n`posts_per_week`, an integer from 1 through 14. The set of keys in\\n`posting_cadence` must exactly equal the set of values in `channels`: include\\nevery selected channel once, omit every unselected channel, and verify this\\nequality before responding. Strategy is advisory until persisted by Tanaghom's\\ncontrolled database function.\\n\\nEach content pillar must contain exactly `name`, `description`, and a non-empty\\n`example_angles` array. Do not add fields outside the versioned output contract.\" }, { role: 'user', content: JSON.stringify(claimed.input) } ] } } }];"
      },
      "id": "strategist-request",
      "name": "Build Gemma Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        270
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.thesmartlabs.net/gemma4/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.request) }}",
        "options": {
          "timeout": 180000,
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "strategist-gemma",
      "name": "Call Gemma",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        270
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "62000000-0000-4000-8000-000000000002",
          "name": "Tanaghom Gemma API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const claimed = $('Claim Job').first().json;\nconst response = $json;\nif (response?.error) return [{ json: { ...claimed, ok: false, error_code: 'gemma_request_error', error_message: String(response.error.message ?? response.error).slice(0, 1000) } }];\nconst statusCode = Number(response.statusCode ?? response.status ?? 200);\nconst body = response.body ?? response;\nif (statusCode >= 400) return [{ json: { ...claimed, ok: false, error_code: statusCode === 429 ? 'gemma_rate_limited' : 'gemma_http_error', error_message: String(body?.error?.message ?? body?.message ?? statusCode).slice(0, 1000) } }];\nconst raw = body?.choices?.[0]?.message?.content ?? body?.message?.content;\nif (typeof raw !== 'string' || !raw.trim()) return [{ json: { ...claimed, ok: false, error_code: 'gemma_empty_response', error_message: 'Gemma returned no message content' } }];\nlet data;\nlet text = raw.trim();\nif (text.charCodeAt(0) === 96) text = text.replace(/^.{3}(?:json)?\\s*/i, '').replace(/\\s*.{3}$/, '');\ntry { data = JSON.parse(text); }\ncatch (error) { return [{ json: { ...claimed, ok: false, error_code: 'gemma_invalid_json', error_message: String(error.message).slice(0, 1000) } }]; }\nif (data?.contract_version !== 'phase3.strategist-output.v1') return [{ json: { ...claimed, ok: false, error_code: 'gemma_contract_mismatch', error_message: 'Unexpected output contract version' } }];\nif (data?.status === 'ok') {\n  const allowedChannels = new Set(['instagram','tiktok','facebook','linkedin','youtube','email','whatsapp_status']);\n  const channels = Array.isArray(data.channels) ? data.channels : [];\n  const cadence = data.posting_cadence && typeof data.posting_cadence === 'object' && !Array.isArray(data.posting_cadence)\n    ? data.posting_cadence : {};\n  const channelKeys = [...new Set(channels)].sort();\n  const cadenceKeys = Object.keys(cadence).sort();\n  const keysMatch = channelKeys.length === channels.length\n    && channelKeys.length === cadenceKeys.length\n    && channelKeys.every((channel, index) => channel === cadenceKeys[index] && allowedChannels.has(channel));\n  const cadenceValuesValid = cadenceKeys.every((channel) => {\n    const value = cadence[channel];\n    return value && typeof value === 'object' && !Array.isArray(value)\n      && Object.keys(value).length === 1\n      && Number.isInteger(value.posts_per_week)\n      && value.posts_per_week >= 1\n      && value.posts_per_week <= 14;\n  });\n  if (!keysMatch || !cadenceValuesValid) {\n    return [{ json: { ...claimed, ok: false, error_code: 'gemma_contract_mismatch', error_message: 'Strategist channels and posting cadence must have identical valid channel keys' } }];\n  }\n}\nreturn [{ json: { ...claimed, ok: true, output: data } }];"
      },
      "id": "strategist-parse",
      "name": "Parse and Check Contract",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        270
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "strategist-ok",
              "leftValue": "={{ $json.ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "strategist-valid",
      "name": "Contract Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1200,
        270
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT tanaghom.persist_strategy_result($1::uuid, $2::jsonb, $3::text, $4::text) AS result;",
        "options": {
          "queryReplacement": "={{ [$json.job_id, JSON.stringify($json.output), 'gemma4-26b-a4b-canary', 'campaign-strategist/v1'] }}"
        }
      },
      "id": "strategist-persist",
      "name": "Persist Valid Result",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1440,
        180
      ],
      "credentials": {
        "postgres": {
          "id": "62000000-0000-4000-8000-000000000001",
          "name": "Tanaghom Worker PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT tanaghom.record_agent_job_failure($1::uuid, $2::text, $3::text, 60) AS next_status;",
        "options": {
          "queryReplacement": "={{ [$json.job_id, $json.error_code, $json.error_message] }}"
        }
      },
      "id": "strategist-failure",
      "name": "Record Failure",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1440,
        360
      ],
      "credentials": {
        "postgres": {
          "id": "62000000-0000-4000-8000-000000000001",
          "name": "Tanaghom Worker PostgreSQL"
        }
      }
    }
  ],
  "connections": {
    "Manual Test Trigger": {
      "main": [
        [
          {
            "node": "Claim Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Poll Every Minute": {
      "main": [
        [
          {
            "node": "Claim Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claim Job": {
      "main": [
        [
          {
            "node": "Build Gemma Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Gemma Request": {
      "main": [
        [
          {
            "node": "Call Gemma",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Gemma": {
      "main": [
        [
          {
            "node": "Parse and Check Contract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse and Check Contract": {
      "main": [
        [
          {
            "node": "Contract Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contract Valid?": {
      "main": [
        [
          {
            "node": "Persist Valid Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Record Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "executionTimeout": 300
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [],
  "pinData": {},
  "versionId": "61000000-0000-4000-8000-000000000001"
}
